{% block sw_login %}
<div
    v-show="shouldRenderDOM"
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        {% block sw_login_form %}
        <div class="sw-login__content">
            {% block sw_login_badge %}
            <div class="sw-login__badge">
                {% block sw_login_badge_image %}
                    <svg width="256" height="256" viewBox="0 0 256 256" version="1.1" id="svg2" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                        <defs id="defs2" />
                        <path d="m 7,106 v 6 l -1,1 v 29 l 1,1 v 5 l 1,1 v 4 l 1,1 v 4 l 1,1 v 2 l 1,1 v 3 l 1,1 v 1 l 1,1 v 2 l 1,1 v 2 l 1,1 v 1 l 1,1 v 1 l 1,1 v 2 l 1,1 v 1 l 1,1 v 1 l 2,2 v 1 l 1,1 v 1 l 1,1 v 1 l 2,2 v 1 l 2,2 v 1 l 2,2 v 1 l 4,4 v 1 l 8,8 v 1 h 1 l 8,8 h 1 l 4,4 h 1 l 2,2 h 1 l 2,2 h 1 l 2,2 h 1 l 1,1 h 1 l 2,2 h 2 l 2,2 h 1 l 1,1 h 2 l 1,1 v -3 l 1,-1 v -2 l 1,-1 v -3 l 1,-1 v -2 l 1,-1 v -3 l 1,-1 v -2 l 1,-1 v -4 l 1,-1 v -15 l 1,-1 v -1 l 4,-4 h 1 l 1,-1 h 19 l 3,-3 h 1 l 1,-1 h 4 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 1 l 7,-7 h 1 l 7,-7 v -1 l 3,-3 v -1 l 2,-2 v -1 l 2,-2 v -1 l 2,-2 v -1 l 2,-2 v -1 l 2,-2 v -1 l 2,-2 v -1 l 3,-3 v -1 l 6,-6 v -1 l 2,-2 v -1 l 2,-2 v -1 l 11,-11 h 1 -13 l -1,1 h -3 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -1 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -1 l -1,1 h -2 l -1,1 h -3 l -1,1 h -2 l -1,1 h -8 l -1,1 H 86 l -1,1 h -5 l -1,1 h -4 l -1,1 h -8 l -8,-8 v -1 L 46,121 h -1 l -3,-3 h -1 l -2,-2 h -1 l -1,-1 h -1 l -1,-1 h -1 l -1,-1 h -1 l -1,-1 h -2 l -1,-1 h -1 l -1,-1 h -4 l -1,-1 h -3 l -1,-1 h -4 l -1,-1 h -2 l -1,-1 z" fill="rgb(85,34,0)" stroke="none" id="path1" style="fill:#ffffff" />
                        <path d="m 112,6 -1,1 h -5 l -1,1 h -4 l -1,1 h -3 l -1,1 h -3 l -1,1 h -2 l -1,1 h -2 l -1,1 h -2 l -1,1 h -1 l -1,1 h -1 l -1,1 h -2 l -1,1 h -1 l -1,1 h -1 l -1,1 h -1 l -1,1 h -1 l -2,2 h -1 l -1,1 h -1 l -2,2 h -1 l -1,1 h -1 l -3,3 h -1 l -3,3 h -1 l -7,7 h -1 l -4,4 v 1 l -7,7 v 1 l -3,3 v 1 l -2,2 v 1 l -2,2 v 1 l -2,2 v 1 l -1,1 v 1 l -2,2 v 1 l -1,1 v 1 l -1,1 v 1 l -1,1 v 1 l -1,1 v 2 l -1,1 v 1 l -1,1 v 2 l -1,1 v 1 l -1,1 v 3 h 4 l 1,1 h 4 l 1,1 h 3 l 1,1 h 4 l 1,1 h 2 l 1,1 h 1 l 1,1 h 1 l 1,1 h 2 l 1,1 h 1 l 1,1 h 1 l 1,1 h 1 l 1,1 h 1 l 3,3 h 1 l 2,2 h 1 l 18,18 h 3 l 1,-1 h 4 l 1,-1 h 15 l 1,-1 h 12 l 1,-1 h 3 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 2 l 1,-1 h 3 l 1,-1 h 3 l 1,-1 h 11 l 1,-1 h 24 l 1,1 h 2 l 1,1 h 1 l 4,4 v 2 l 1,1 v 9 l -1,1 v 4 l -1,1 v 1 l -2,2 h -1 l -1,1 h -2 l -1,1 h -5 l -1,1 h -2 l -1,1 h -1 l -1,1 h -1 l -7,7 v 1 l -2,2 v 1 l -2,2 v 1 l -5,5 v 1 l -4,4 v 1 l -2,2 v 1 l -2,2 v 1 l -2,2 v 1 l -2,2 v 1 l -2,2 v 1 l -2,2 v 1 l -3,3 v 1 l -2,2 v 1 l -4,4 h -1 l -7,7 h -1 l -4,4 h -1 l -2,2 h -1 l -1,1 h -1 l -1,1 h -1 l -1,1 h -3 l -1,1 h -2 l -2,2 h -1 l -2,2 h -3 l -1,1 h -10 v 3 l -1,1 v 4 l -1,1 v 4 l -1,1 v 2 l -1,1 v 3 l -1,1 v 2 l -1,1 v 3 l -1,1 v 2 l -1,1 v 2 l -1,1 v 2 h 2 l 1,1 h 4 l 1,1 h 4 l 1,1 h 5 l 1,1 h 29 l 1,-1 h 5 l 1,-1 h 5 l 1,-1 h 3 l 1,-1 h 2 l 1,-1 h 3 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 2 l 1,-1 h 1 l 1,-1 h 1 l 1,-1 h 1 l 1,-1 h 1 l 2,-2 h 1 l 1,-1 h 1 l 2,-2 h 1 l 2,-2 h 1 l 2,-2 h 1 l 3,-3 h 1 l 6,-6 h 1 l 6,-6 v -1 l 6,-6 v -1 l 3,-3 v -1 l 2,-2 v -1 l 2,-2 v -1 l 2,-2 v -1 l 1,-1 v -1 l 2,-2 v -1 l 1,-1 v -1 l 1,-1 v -1 l 1,-1 v -1 l 1,-1 v -2 l 1,-1 v -1 l 1,-1 v -2 l 1,-1 v -1 l 1,-1 v -2 l 1,-1 v -2 l 1,-1 v -3 l 1,-1 v -3 l 1,-1 v -4 l 1,-1 v -6 l 1,-1 v -13 l 1,-1 v -1 l -1,-1 v -13 l -1,-1 v -6 l -1,-1 v -4 l -1,-1 v -3 l -1,-1 v -3 l -1,-1 v -2 l -1,-1 v -2 l -1,-1 v -2 l -1,-1 v -1 l -1,-1 v -2 l -1,-1 v -1 l -1,-1 v -1 l -1,-1 v -1 l -1,-1 v -1 l -1,-1 v -1 l -1,-1 v -1 l -2,-2 v -1 l -1,-1 v -1 l -2,-2 v -1 l -3,-3 v -1 l -3,-3 v -1 l -5,-5 v -1 l -8,-8 h -1 l -5,-5 h -1 l -3,-3 h -1 l -3,-3 h -1 l -2,-2 h -1 l -1,-1 h -1 l -1,-1 h -1 l -2,-2 h -1 l -1,-1 h -1 l -1,-1 h -1 l -1,-1 h -1 l -1,-1 h -1 l -1,-1 h -2 l -1,-1 h -1 l -1,-1 h -2 l -1,-1 h -2 l -1,-1 h -2 l -1,-1 h -3 l -1,-1 h -3 l -1,-1 h -4 l -1,-1 h -5 l -1,-1 z" fill="rgb(85,34,0)" stroke="none" id="path2" style="fill:#ffffff" />
                    </svg>
                {% endblock %}
            </div>
            {% endblock %}

            {% block sw_login_view %}

            <router-view
                v-slot="{Component}"
            >
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <component
                        :is="Component"
                        :hash="hash"
                        @is-loading="setLoading(true)"
                        @is-not-loading="setLoading(false)"
                        @login-error="loginError"
                        @login-success="loginSuccess"
                    />
                </transition>
            </router-view>
            {% endblock %}

            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
