{% block sw_core_version %}
<div class="sw-version">

    {% block sw_core_version_name %}
    <div class="sw-version__title">

        {% block sw_core_version_name_text %}
            {{ $tc('global.sw-admin-menu.textProjectName') }}
        {% endblock %}

        {% block sw_core_version_status %}
        <span title="Shop status: OK" class="sw-version__status">
            {% block sw_core_version_status_badge %}
                <sw-color-badge variant="success" :rounded="true"/>
            {% endblock %}
        </span>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_core_version_info %}
        <div class="sw-version__info">
            {% block sw_core_version_info_text %}
                Core: v{{ coreVersion }}
            {% endblock %}
        </div>
        <div class="sw-version__info">
            {% block sw_core_version_info_text %}
                Master: v{{ masterVersion }}
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}
